<div class="container">
<nav class="navegacion">
  <img src="../assets/images/logo3.jpg" alt="Logo" class="navegacion__logo">
  <span>Plural Café</span>

  <ul class="navegacion-menu">
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/about">Nosotros</a></li>
    <li><a routerLink="/courses">Cursos</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/contact">Contacto</a></li>
    <li><button class="inicio-sesion" routerLink="/register">Regístrate</button></li>
    <li><button class="inicio-sesion" routerLink="/login">Inicia Sesión</button></li>
  </ul>
</nav>
<hr class="menu-divider">
</div>

