
<div class="container">
<div class="login-box">
  <img src="../../../assets/images/logo3.jpg" class="avatar" alt="Avatar">
  <h1>Bienvenido</h1>

  <form class="" action="index.html" method="post">
    <!-- USERNAME INPUT -->
    <label for="username">Usuario</label>
    <input type="text" placeholder="Introduce tu usuario">
    <!-- PASSWORD INPUT -->
    <label for="password">Contraseña</label>
    <input type="password" placeholder="Introduce tu contraseña">
    <input type="submit" value="Iniciar Sesión">
    <a class="centrar-titulo" href="#">Haz olvidado la contraseña?</a><br>
    <a class="centrar-titulo" routerLink="/register">Registra nueva cuenta</a>
  </form>
</div>
</div>
